.header {
  @apply flex h-20 items-center bg-gunmetal font-bold;
}

.desktop {
  @apply m-5 hidden md:flex;
  margin-left: auto;
  margin-right: 5%;
  gap: 40px;
  color: white;
}

.mobileNotActive {
  @apply bg-white z-10 absolute w-64 inset-y-0 left-0 transition ease-in-out duration-300 transform -translate-x-full;
}

.mobileActive {
  @apply z-10 bg-white absolute w-64 inset-y-0 left-0 transition ease-in-out duration-300;

}
 
.h1 {
  @apply text-white text-3xl m-6;
}

.menuButton {
  @apply w-6 bg-white rounded-md;
  height: 3px;
}

.menuItem {
  @apply hover:bg-white h-10 p-10 flex flex-col justify-center text-lg border-b-2 hover:bg-charcoal hover:text-white;
}

.divActive {
  @apply h-full w-1/2 z-20 absolute w-64 inset-y-0 right-0 ;
}

.divNotActive {
  @apply hidden ; 
}