.header {
  @apply flex bg-purple h-16 items-center;
}

.desktop {
  @apply m-5 hidden md:flex;
  margin-left: auto;
  margin-right: 5%;
  gap: 40px;
  color: white;
}

.mobile {
  @apply hidden;
}

.mobileActive {
  @apply flex flex-col bg-silver;
}
 
.h1 {
  @apply text-white text-xl m-5;
}

.menuButton {
  @apply w-6 bg-white rounded-md;
  height: 3px;
}

.menuItem {
  @apply hover:bg-white h-10 p-10 flex flex-col justify-center;
}