.testy {
  @apply bg-silver h-12 flex justify-center items-center hover:bg-purple lg:hover:bg-midnight;
}

.header {
  @apply flex bg-purple;
}

.ul {
  @apply m-5;
  display: flex;
  /* flex-direction: column; */
  margin-left: auto;
  margin-right: 5%;
  gap: 40px;
  color: white;
}

.h1 {
  @apply text-white text-xl m-5;
}